/* ////////////////////////////////////////////////BARRA DE NAVEGACION /////////////////////////////////////*/

* {box-sizing: border-box;}

body { 
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

.header {
 
  overflow: hidden;
  background-color: #E5E7E9 ;
  padding: 0px 0px 0px;
  height: 67px;

}

.header a {
  float: left;
  color: black;
  text-align: center;
  padding: 20px;
  text-decoration: none;
  font-size: 18px; 
  line-height: 25px;
  border-radius: 4px;
}

.header a.logo {
  font-size: 25px;
  font-weight: bold;
}

.header a:hover {
  background-color: #ddd;
  color: black;
}

.header a.active {
  background-color: dodgerblue;
  color: white;
}

.header-right {
  float: right;
  border: 3px solid red ;
  align-content: center;
}


@media screen and (max-width: 500px) {
  .header a {
    float: none;
    display: block;
    text-align: left;
  }
  .logo-carga {
    border: 3px solid red ;
    width: 145px;
    height: 67px;
  
  }
  }




/* ////////////////////////////////////////////////BARRA DESPLEGABLE/////////////////////////////////////*/
body {
  font-family: "Lato", sans-serif;
}

.sidebar {
  height: 100%;
  width: 0px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: black;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
 
}

.sidebar a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
  
}

.sidebar a:hover {
  color: #f1f1f1;
}

.sidebar .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

.openbtn {
  font-size: 40px;
  cursor: pointer;
  background-color:#E5E7E9 ;
  color: black;
  border: none;
}


#main {
  position: relative;
  transition: margin-left .5s;

 
}

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
  .sidebar {padding-top: 15px;}
  .sidebar a {font-size: 18px;}
}

.logo-header-inicio{
  position: absolute;
  margin: 4px  100px auto;
  width: 130px;
  height: 65px;
  padding: 0 px;
 
}



.logo-header {
  position: absolute;
  margin: -15px  100px auto;
  width: 130px;
  height: 65px;
  padding: 0 px;
}

.boton {
  float: left;
  margin: 0  22px auto;
  width:  65px;
  height:65px;
 
  
}
.a{
  font-size: 25px;
  margin: 0  15px auto;
  width: 200px;
}
 
.opciones-exti{
  position: relative;
  font-size: 20px;
 
  width: 230px;
  height: 30px;
  margin: 10px 63px auto;
}
.opciones-images{
  position: relative;
  
  width: 52px;
  height: 52px;
  margin: -40px 0 auto;
}
.opciones-sena{
  position: relative;
  width: 285px;
  height: 52px;
  margin:  0  0px auto;
}
/* ////////////////////////////////////////////////FONDO /////////////////////////////////////*/
.logo-contenido{
  position: relative;
  width: 1200px;
  height: 360px;
 
  left: 192px;
  
}

/* ////////////////////////////////////////////////CARRUSEL /////////////////////////////////////*/


* { box-sizing: border-box; }

body { font-family: sans-serif; }

.carrusel-inicio {
   display: flex;
   justify-content: center;
  
  
}

.carousel {
 
  width: 1200px;
  height: 250px;
  
  
}

.carousel-cell {
  margin-right: 60px;
  padding: 3%;
  
}

.carousel-cell img {
  display: block;
  height: 200px;
 
}

@media screen and ( min-width: 700px ) {
  .carousel-cell img {
    height: 150px;
  }
}

/* ////////////////////////////////////////////////FOOTER /////////////////////////////////////*/
.footer {
  
 position: relative;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 350px;
  background-color: red;
  color: white;
  text-align: center;
  top: 40px;
}

/* ////////////////////////////////////////////////HEAD INICIAR SESION /////////////////////////////////////*/


.men-nav-iniciar{
  position: relative;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 70px;
  background-color:  #E5E7E9  ;
  color: white;
  text-align: center;
 

}
/* ////////////////////////////////////////////////IMAGEN INICIAR SESION/////////////////////////////////////*/

.contenido-iniciar{
  position: relative;
  width:  250px;
  height: 250px;
  align-content: center;
  margin: 0 auto;
  top: 38px;


}


.image-iniciar{

  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 200px;
  border-radius: 50%;
  
  

}

/* ////////////////////////////////////////////////INICIAR SESION/////////////////////////////////////*/

body {
  font-family: Arial, Helvetica, sans-serif;
}

* {
  box-sizing: border-box;
}

/* style the container */
.container2 {
  position: relative;
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 170px 0 30px 0;
  top: 60%;
  
  
} 

/* style inputs and link buttons */
input,
.btn {
  width: 100%;
  padding: 12px;
  border: none;
  border-radius: 4px;
  margin: 5px 0;
  opacity: 0.85;
  display: inline-block;
  font-size: 17px;
  line-height: 20px;
  text-decoration: none; /* remove underline from anchors */
  
}

input:hover,
.btn:hover {
  opacity: 1;
}

/* add appropriate colors to fb, twitter and google buttons */
.fb {
  background-color: #3B5998;
  color: white;
}

.twitter {
  background-color: #55ACEE;
  color: white;
}

.google {
  background-color: #dd4b39;
  color: white;
}

/* style the submit button */
input[type=submit] {
  background-color: #4CAF50;
  color: white;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: #45a049;
}

/* Two-column layout */
.col {
  float: left;
  width: 50%;
  margin: auto;
  padding: 0 50px;
  margin-top: 6px;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
 
}

/* vertical line */
.vl {
  position: absolute;
  left: 50%;
  transform: translate(-50%);
  border: 2px solid #ddd;
  height: 175px;
}

/* text inside the vertical line */
.vl-innertext {
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  background-color: #f1f1f1;
  border: 1px solid #ccc;
  border-radius: 50%;
  padding: 8px 10px;
}

/* hide some text on medium and large screens */
.hide-md-lg {
  display: none;
}

/* bottom container */
.bottom-container {
  text-align: center;
  background-color: #666;
  border-radius: 0px 0px 4px 4px;
  
}

/* Responsive layout - when the screen is less than 650px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 650px) {
  .col {
    width: 100%;
    margin-top: 0;
  }
  /* hide the vertical line */
  .vl {
    display: none;
  }
  /* show the hidden text on small screens */
  .hide-md-lg {
    display: block;
    text-align: center;
  }
}
.boton-iniciar{
  position: relative;
  width: 150px;
  margin: 0 auto;
  top: 12px;
  
  
}


/* ////////////////////////////////////////////////IMAGEN REGISTRAR USUARIO/////////////////////////////////////*/

.contenido-registrar{
  position: relative;
  width:  250px;
  height: 190px;
  align-content: center;
  margin: 0 auto;
  top: 30px;
 


}

.image-registrar{

  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 146px;
  border-radius: 50%;
  
  

}

/* ////////////////////////////////////////////////REGISTRAR/////////////////////////////////////////////////////////////////////////////////////////*/

.container-registro {
  position: relative;
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 0px 0 100px 30px;
  top: 60%;

  width: 760px;
  height: 650px;
  margin: 0 auto;
  
  
} 

/* Horizontal line */
.vlregistrar {
  position: absolute;
  left: 50%;
  transform: translate(-50.5%);
  border: 2px solid #ddd;
  width: 597px;
  top: 78px;
}

/* text inside the Horizontal line */
.vlregistrar-innertext {
  position: absolute;
  top: 50%;
  transform: translate(-999%, -50%);
  background-color: #f1f1f1;
  border: 1px solid #ccc;
  border-radius: 50%;
  padding: 8px 10px;
}

.google-registro{
  position: relative;
  width: 280px;
  height: 55px;
 top: 1px;
 
 
}

.facebook-registro{
  position: relative;
  width: 280px;
  height: 55px;
 top: 1px;
 
 
}


.nombre-registro{
   position: relative;
   width: 280px;
   height: 55px;
  top: 30px;
  

   

}
.apellido-registro{
  position: relative;
  width: 280px;
  height: 55px;
 top: 30px;
 

}





.correo-registro{
  position: relative;
  width: 591px;
  height: 55px;
 top: 48px;
 margin: 0 50px auto;

 

}

.telefono-registro{
position: relative;
  width: 591px;
  height: 55px;
 top: 69px;
 margin: 0 50px auto;


}

.clave-registro{
  position: relative;
    width: 591px;
    height: 55px;
   top: 90px;
   margin: 0 50px auto;
  
  
  }

  .confirmarcontra-registro{
    position: relative;
      width: 591px;
      height: 55px;
     top: 113px;
     margin: 0 50px auto;
     
    
    }

    .boton2-iniciar{
      position: relative;
      width: 300px;
      margin: 0 204px auto;
      top: 120px;
     
      
    }

    .texto-registrar{
      position: relative;
      width: 591px;
      top: 130px;
      margin: 0 50px auto;
      
    
    }

    

    /* bottom container */
.botom-container {
  position: relative;
  text-align: center;
  background-color: #666;
  border-radius: 0px 0px 4px 4px;
  top: 250px;
  border: 3px solid red ;
  
}

/* Two-column layout */
.col2 {
  float: left;
  width: 50%;
  margin: auto;
  padding: 0 -30px;
  margin-top: 6px;
}

/* ////////////////////////////////////////////////VENTA DE EXTINTORES- HEADER/////////////////////////////////////////////////////////////////////////////////////////*/




.header2 a {
  float: left;
  color: black;
  text-align: center;
  padding: 20px;
  text-decoration: none;
  font-size: 18px; 
  line-height: 25px;
  border-radius: 4px;
}

.header2 a.logo {
  font-size: 25px;
  font-weight: bold;
}

.header2 a:hover {
  background-color: #ddd;
  color: black;
}

.header2 a.active {
  background-color: dodgerblue;
  color: white;
}

.header2-right {
  float: right;
}

@media screen and (max-width: 500px) {
  .header2 a {
    float: none;
    display: block;
    text-align: left;
  }
  
  .header2-right {
    float: none;
    
  }

}
/* ////////////////////////////////////////////////CAJA DE EXTINTORES/////////////////////////////////////////////////////////////////////////////////////////*/

* {box-sizing: border-box}
body {font-family: "Lato", sans-serif;}

/* Style the tab */
.tab{
 float: left;
  border: 1px solid #ccc;
  background-color: #f1f1f1;
  width: 30%;
  height: 1200px;
  top: 0px;
  margin: 0px  0px auto;
  border: 1px solid red;
  
}
.tab-exti{
  position: relative;
  margin: 0 195px auto;
  width: 197px;
  height: 65px;
  top: 115px;
  
 
  
}

.imagen-exti{
  position: relative;
  width: 165px ;
  height: 160px;
  margin: 0  20px auto;
 

}

.tabli-exti{

  position: relative;
  margin: 0 195px auto;
  width: 197px;
  height: 65px;
  top: 85px;
  
 
}

.imagen-limpios{
  position: relative;
  
  width: 165px ;
  height: 160px;
  margin: 0  20px auto;
  top: -35px;
 
}


.tablahu-exti{

  position: relative;
  
  margin: 0 195px auto;
  width: 200px;
  height: 65px;
  top: 50px;
 
 
}

.imagen-humedos{
  position: relative;
  width: 165px ;
  height: 160px;
  margin: 0  20px auto;
  top: -65px;
  
}

.tablahfc-exti{

  position: relative;
  margin: 0 195px auto;
  width: 197px;
  height: 65px;
  top: 20px;
  
  
 
}

.imagen-hfc{
  position: relative;
  width: 165px ;
  height: 160px;
  margin: 0  20px auto;
  top: -95px;
  
  
}




/* Style the buttons inside the tab */
.tab button {
  display: block;
  background-color: inherit;
  color: black;
  padding: 22px 16px;
  width: 213px;
  border: none;
  outline: none;
  text-align: left;
  cursor: pointer;
  transition: 0.3s;
  font-size: 17px;
  
}

/* Change background color of buttons on hover */
.tab button:hover {
  background-color: #ddd;
}

/* Create an active/current "tab button" class */
.tab button.active {
  background-color: #ccc;
}

/* Style the tab content */
.tabcontent {
position: relative;
  padding: 12px 12px;
  width: 140%;
  height: 1200px;
  border-left: none;
  margin: -1200px  -30px auto;
  border: 1px solid red;
 
 
}
/* ////////////////////////////////////////////////CAJA DE EXTINTORES LADO DERECHO/////////////////////////////////////////////////////////////////////////////////////////*/


.contene-carrito{
  position: absolute;
  width: 150px ;
  height: 75px;
  z-index: 1;
  margin: -4px  1400px auto;
  
  }

  .container{
    float: right;
    width: 70%;
  height: 2700px;
  border: 1px solid red;
  }

    .card-header{
      position: relative;
      width: 259px;
      height: 50px;
      border: 1px solid #ccc;
      background-color: #f1f1f1;
      margin: 0px  0px auto;
      }

    
  

.card-body1{
  position:relative;
  width: 260px ;
  height: 450px;
  margin: 100px  100px auto;
  border: 1px solid #ccc;
  
  
}

.card-body2{
 position: relative;
  width: 260px ;
  height: 450px;
  margin: -450px  450px auto;
  border: 1px solid #ccc;
  
}

.card-body3{
  position: relative;
  width: 260px ;
  height: 450px;
  margin: -450px  800px auto;
  border: 1px solid #ccc;
  
}

.card-body4{
  position: relative;
  width: 260px ;
  height: 450px;
  margin: 80px  100px auto;
  border: 1px solid #ccc;
  
}

.card-body5{
  position: relative;
  width: 260px ;
  height: 450px;
  margin: -450px  450px auto;
  border: 1px solid #ccc;
  
}

.card-body6{
  position: relative;
  width: 260px ;
  height: 450px;
  margin: -450px  800px auto;
  border: 1px solid #ccc;
  
}

.card-body7{
  position: relative;
  width: 260px ;
  height: 450px;
  margin: 100px 100px auto;
  border: 1px solid #ccc;
  
}

.card-body8{
  position: relative;
  width: 260px ;
  height: 450px;
  margin: -450px  450px auto;
  border: 1px solid #ccc;
  
}


.card-body9{
  position: relative;
  width: 260px ;
  height: 450px;
  margin: -450px  800px auto;
  border: 1px solid #ccc;
  
}


.card-body10{
  position: relative;
  width: 260px ;
  height: 450px;
  margin: 80px  100px auto;
  border: 1px solid #ccc;
  
}

.card-body11{
  position: relative;
  width: 260px ;
  height: 450px;
  margin: 100px 100px auto;
  border: 1px solid #ccc;
  
}

.card-body12{
  position: relative;
  width: 260px ;
  height: 450px;
  margin: -450px  450px auto;
  border: 1px solid #ccc;
  
}


.card-body13{
  position: relative;
  width: 260px ;
  height: 450px;
  margin: -450px  800px auto;
  border: 1px solid #ccc;
  
}


.card-body14{
  position: relative;
  width: 260px ;
  height: 450px;
  margin: 80px 100px auto;
  border: 1px solid #ccc;
  
}

.btn-comprar{
  background-color: #f43325; /* Green */
  border: none;
  color: white;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
  width: 230px;
  height: 60px;
  margin: 0px 13px auto;
}
.btn-comprar:hover {
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
}



.btn-comprar2{
  background-color: #999999; /* Green */
  border: none;
  color: white;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
  width: 230px;
  height: 60px;
  margin: 0px 13px auto;
  
}

.btn-comprar2:hover {
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
}


.btn-comprar3 {
  background-color: #4CAF50; /* Green */
  border: none;
  color: white;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
  width: 230px;
  height: 60px;
  margin: 0px 13px auto;
}
  


.btn-comprar3:hover {
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
}



/* ////////////////////////////////////////////////INICIAR-TIPO-SEÑALAMIENTOS/////////////////////////////////////////////////////////////////////////////////////////*/
#mySidenav a {
  position: absolute;
  right: -80px;
  transition: 0.3s;
  padding: 15px;
  width: 300px;
  text-decoration: none;
  font-size: 20px;
  color: white;
  border-radius: 5px 0px 0px 5px;
  margin:  160px 0px auto;
}

.cont-tiposena{
  position: relative;
  border: 1px solid red ;
  width: 130px;
  height: 130px;

}

#mySidenav a:hover {
  right: 0;
}

#pro-civil {
  top: 20px;
  background-color: #4CAF50;
}

#contra-inc {
  top: 100px;
  background-color: #f44336;
}

#restric {
  top: 180px;
  background-color: #f44336
}

#obligatorias{
  top: 260px;
  background-color: #2196F3;
}

#infor{
  top: 340px;
  background-color: #2196F3;
}

#precau{
  top: 420px;
  background-color: #FFCC00;


}





.logo-extintores2 {
  position: relative;
  margin: -83px 60px auto;
  width: 130px;
  height: 65px;
  padding: 0 px;
}

/* ////////////////////////////////////////////////VENTA-SENALAMIENTOS/////////////////////////////////////////////////////////////////////////////////////////*/


.tablinks1{
  position: relative;
  width: 365px ;
  height: 70px;
  margin: 100px  20px auto;
  cursor: pointer;
  
}

.tablinks2{
  position: relative;
  width: 365px ;
  height: 70px;
  margin: 85px  20px auto;
  top: -35px;
  cursor: pointer;
  
}

.tablinks3{
  position: relative;
  width: 365px ;
  height: 70px;
  margin: 80px  20px auto;
  top: -65px;
  cursor: pointer;
  
}

.tablinks4{
  position: relative;
  width: 365px ;
  height: 70px;
  margin: 80px  20px auto;
  top: -95px;
  cursor: pointer;
  
  
}

.tablinks5{
  position: relative;
  width: 365px ;
  height: 70px;
  margin: 50px  20px auto;
  top: -95px;
  cursor: pointer;
 
  
}

.tablinks6{
  position: relative;
  width: 365px ;
  height: 70px;
  margin: 50px  20px auto;
  top: -95px;
   cursor: pointer;
  
  
}

.tab2{
  float: left;
   border: 1px solid #ccc;
   background-color: #f1f1f1;
   width: 30%;
   height: 2300px;
   top: 0px;
   margin: 0px  0px auto;
  
   }

   /* Style the buttons inside the tab */
.tab2 button {
  display: block;
  background-color: inherit;
  color: black;
  padding: 22px 16px;
  width: 100%;
  border: none;
  outline: none;
  text-align: left;
  cursor: pointer;
  transition: 0.3s;
  font-size: 17px;
  
}

/* Change background color of buttons on hover */
.tab2 button:hover {
  background-color: #ddd;
}

/* Create an active/current "tab button" class */
.tab2 button.active {
  background-color: #ccc;
}


.card-body15{
  position:relative;
  width: 260px ;
  height: 450px;
  margin: 100px  100px auto;
  border: 1px solid #ccc;
  }

  .card-body16{
    position: relative;
     width: 260px ;
     height: 450px;
     margin: -450px  450px auto;
     border: 1px solid #ccc;
     }

     .card-body17{
      position: relative;
      width: 260px ;
      height: 450px;
      margin: -450px  800px auto;
      border: 1px solid #ccc;
      } 

      .card-body18{
        position: relative;
        width: 260px ;
        height: 450px;
        margin: 80px  100px auto;
        border: 1px solid #ccc;
        }
     
        .card-body19{
          position: relative;
          width: 260px ;
          height: 450px;
          margin: -450px  450px auto;
          border: 1px solid #ccc;
          }

      .card-body20{
        position: relative;
        width: 260px ;
        height: 450px;
        margin: -450px  800px auto;
        border: 1px solid #ccc;
        }


        .card-body21{
          position:relative;
          width: 260px ;
          height: 450px;
          margin: 100px  100px auto;
          border: 1px solid #ccc;
          }

          .card-body22{
            position: relative;
             width: 260px ;
             height: 450px;
             margin: -450px  450px auto;
             border: 1px solid #ccc;
             }

      .card-body23{
        position: relative;
        width: 260px ;
        height: 450px;
        margin: -450px  800px auto;
        border: 1px solid #ccc;
        } 
  
      .card-body24{
        position: relative;
        width: 260px ;
        height: 450px;
        margin: 80px  100px auto;
        border: 1px solid #ccc;
        }

      .card-body25{
        position: relative;
        width: 260px ;
        height: 450px;
        margin: -450px  450px auto;
        border: 1px solid #ccc;
        }

        .card-body26{
          position: relative;
          width: 260px ;
          height: 450px;
          margin: -450px  800px auto;
          border: 1px solid #ccc;
          }

          .card-body27{
            position:relative;
            width: 260px ;
            height: 450px;
            margin: 100px  100px auto;
            border: 1px solid #ccc;
            }

        .card-body28{
          position:relative;
          width: 260px ;
          height: 450px;
          margin: 100px  100px auto;
          border: 1px solid #ccc;
          }


          .card-body29{
            position:relative;
            width: 260px ;
            height: 450px;
            margin: 100px  100px auto;
            border: 1px solid #ccc;
            }
          
        .card-body30{
          position: relative;
           width: 260px ;
           height: 450px;
           margin: -450px  450px auto;
           border: 1px solid #ccc;
           }

        .card-body31{
          position: relative;
          width: 260px ;
          height: 450px;
          margin: -450px  800px auto;
          border: 1px solid #ccc;
          } 
    

        .card-body32{
          position: relative;
          width: 260px ;
          height: 450px;
          margin: 80px  100px auto;
          border: 1px solid #ccc;
          }


          .card-body33{
            position:relative;
            width: 260px ;
            height: 450px;
            margin: 100px  100px auto;
            border: 1px solid #ccc;
            }

            .card-body34{
              position: relative;
               width: 260px ;
               height: 450px;
               margin: -450px  450px auto;
               border: 1px solid #ccc;
               }

               .card-body35{
                position:relative;
                width: 260px ;
                height: 450px;
                margin: 100px  100px auto;
                border: 1px solid #ccc;
                }
              
                .card-body36{
                  position: relative;
                   width: 260px ;
                   height: 450px;
                   margin: -450px  450px auto;
                   border: 1px solid #ccc;
                   }
              
                   .card-body37{
                    position: relative;
                    width: 260px ;
                    height: 450px;
                    margin: -450px  800px auto;
                    border: 1px solid #ccc;
                    } 
              
                    .card-body38{
                      position: relative;
                      width: 260px ;
                      height: 450px;
                      margin: 80px  100px auto;
                      border: 1px solid #ccc;
                      }
                   
                      .card-body39{
                        position: relative;
                        width: 260px ;
                        height: 450px;
                        margin: -450px  450px auto;
                        border: 1px solid #ccc;
                        }
              
                    .card-body40{
                      position: relative;
                      width: 260px ;
                      height: 450px;
                      margin: -450px  800px auto;
                      border: 1px solid #ccc;
                      }
              
              
                      .card-body41{
                        position:relative;
                        width: 260px ;
                        height: 450px;
                        margin: 100px  100px auto;
                        border: 1px solid #ccc;
                        }
              
                        .card-body42{
                          position: relative;
                           width: 260px ;
                           height: 450px;
                           margin: -450px  450px auto;
                           border: 1px solid #ccc;
                           }
              
                    .card-body43{
                      position: relative;
                      width: 260px ;
                      height: 450px;
                      margin: -450px  800px auto;
                      border: 1px solid #ccc;
                      } 
                
                    .card-body44{
                      position: relative;
                      width: 260px ;
                      height: 450px;
                      margin: 80px  100px auto;
                      border: 1px solid #ccc;
                      }
              
                    .card-body45{
                      position: relative;
                      width: 260px ;
                      height: 450px;
                      margin: -450px  450px auto;
                      border: 1px solid #ccc;
                      }

                      .card-body46{
                        position:relative;
                        width: 260px ;
                        height: 450px;
                        margin: 100px  100px auto;
                        border: 1px solid #ccc;
                        }
                      
                        .card-body47{
                          position: relative;
                           width: 260px ;
                           height: 450px;
                           margin: -450px  450px auto;
                           border: 1px solid #ccc;
                           }
                      
                           .card-body48{
                            position: relative;
                            width: 260px ;
                            height: 450px;
                            margin: -450px  800px auto;
                            border: 1px solid #ccc;
                            } 
                      
                            .card-body49{
                              position: relative;
                              width: 260px ;
                              height: 450px;
                              margin: 80px  100px auto;
                              border: 1px solid #ccc;
                              }
                           
                              .card-body50{
                                position: relative;
                                width: 260px ;
                                height: 450px;
                                margin: -450px  450px auto;
                                border: 1px solid #ccc;
                                }
                      
                            .card-body51{
                              position: relative;
                              width: 260px ;
                              height: 450px;
                              margin: -450px  800px auto;
                              border: 1px solid #ccc;
                              }
   

                              .btn-comprar4 {
                                background-color: #29a329; /* Green */
                                border: none;
                                color: white;
                                text-align: center;
                                text-decoration: none;
                                display: inline-block;
                                font-size: 16px;
                                margin: 4px 2px;
                                cursor: pointer;
                                -webkit-transition-duration: 0.4s; /* Safari */
                                transition-duration: 0.4s;
                                width: 230px;
                                height: 60px;
                                margin: 0px 13px auto;
                              }
                                
                              
                              
                              .btn-comprar4:hover {
                                box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
                              }


                              .btn-comprar5{
                                background-color: #f43325; /* Green */
                                border: none;
                                color: white;
                                text-align: center;
                                text-decoration: none;
                                display: inline-block;
                                font-size: 16px;
                                margin: 4px 2px;
                                cursor: pointer;
                                -webkit-transition-duration: 0.4s; /* Safari */
                                transition-duration: 0.4s;
                                width: 230px;
                                height: 60px;
                                margin: 0px 13px auto;
                              }
                              .btn-comprar5:hover {
                                box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
                              }


                              
                              .btn-comprar6{
                                background-color: #1a8cff; /* Green */
                                border: none;
                                color: white;
                                text-align: center;
                                text-decoration: none;
                                display: inline-block;
                                font-size: 16px;
                                margin: 4px 2px;
                                cursor: pointer;
                                -webkit-transition-duration: 0.4s; /* Safari */
                                transition-duration: 0.4s;
                                width: 230px;
                                height: 60px;
                                margin: 0px 13px auto;
                              }
                              .btn-comprar6:hover {
                                box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
                              }


                              
                              .btn-comprar7{
                                background-color: #ff9900; /* Green */
                                border: none;
                                color: white;
                                text-align: center;
                                text-decoration: none;
                                display: inline-block;
                                font-size: 16px;
                                margin: 4px 2px;
                                cursor: pointer;
                                -webkit-transition-duration: 0.4s; /* Safari */
                                transition-duration: 0.4s;
                                width: 230px;
                                height: 60px;
                                margin: 0px 13px auto;
                              }
                              .btn-comprar7:hover {
                                box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
                              }
                              

/* ////////////////////////////////////////////////SUB_MENU_CARRITO/////////////////////////////////////////////////////////////////////////////////////////*/
.dropbtn {
 
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}


.dropdown {
  position: absolute;
  margin: 8px  1380px auto;
  display: inline-block;
}

.dropdown-menu{
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  overflow: auto;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  margin: 0px  800px auto;
  width: 300px;
  border: 1px solid red;
 
}

.dropdown-menu a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown a:hover {background-color: #ddd;}

.show {display: block;}



/* /////////////////////////////////////////////////PAGINA-COMPRA/////////////////////////////////////////////////////////////////////////////////////////*/
.container-compra {
   
  width: 1100px;
  height: 330px;
  margin: 0  250px auto;
 
  
} 


table {
border-collapse: collapse;
width: 100%;
}

th, td {
padding: 8px;
text-align: left;
border-bottom: 2px solid #ddd;
}

.contenido-botones{
  position: relative;
 margin: 20px  0px auto;
 width: 1100px;
 height: 70px;
} 


.contene-seguir-comp{
  position: absolute;
  width: 350px;
  margin: 0px  -15px auto;
  
} 

.contene-realia-com{
  position: absolute;
  width: 350px;
  margin: 0px  755px auto;
  
} 

.btn-seguir-com{
  background-color: #008CBA; /* Green */
  border: none;
  color: white;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
  width: 330px;
  height: 50px;
  margin: 0px 13px auto;
}
.btn-seguir-com:hover {
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
}


.btnbtn-successbtn-block{
  background-color: #4CAF50; /* Green */
  border: none;
  color: white;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
  width: 330px;
  height: 50px;
  margin: 0px 13px auto;
}
.btnbtn-successbtn-block:hover {
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
}


/* ////////////////////////////////////////////////VENTA-GABINENTES/////////////////////////////////////////////////////////////////////////////////////////*/
.container-gabi{
width: 100%;
height: 1800px;

 }

 .card-body52{
  position:relative;
  width: 260px ;
  height: 450px;
  margin: 100px  100px auto;
  border: 1px solid #ccc;
  }

  .card-body53{
    position: relative;
     width: 260px ;
     height: 450px;
     margin: -450px  475px auto;
     border: 1px solid #ccc;
     }

     .card-body54{
      position: relative;
      width: 260px ;
      height: 450px;
      margin: -450px  850px auto;
      border: 1px solid #ccc;
      } 

      .card-body55{
        position: relative;
        width: 260px ;
        height: 450px;
        margin: -450px  1220px auto;
        border: 1px solid #ccc;
        }
     
        .card-body56{
          position: relative;
          width: 260px ;
          height: 450px;
          margin: 100px 100px auto;
          border: 1px solid #ccc;
          }

      .card-body57{
        position: relative;
        width: 260px ;
        height: 450px;
        margin: -450px  475px auto;
        border: 1px solid #ccc;
        }

        .card-body58{
          position: relative;
          width: 260px ;
          height: 450px;
          margin: -450px  850px auto;
          border: 1px solid #ccc;
          }

          .card-body59{
            position: relative;
            width: 260px ;
            height: 450px;
            margin: -450px  1220px auto;
            border: 1px solid #ccc;
          }

          .card-body60{
            position: relative;
            width: 260px ;
            height: 450px;
            margin: 100px  100px auto;
            border: 1px solid #ccc;
          }

          .image_gab1 {
            display: block;
            margin-left: auto;
            margin-right: auto;
          }

    
          .image_gab2 {
            display: block;
            margin-left: auto;
            margin-right: auto;
          }